<!DOCTYPE html>
<html>
	<head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/static/css/style.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/normalize.css" type="text/css">
        <link rel="stylesheet" href="/static/css/skeleton.css" type="text/css">
        <script src="/static/js/script.js"></script>
		<title>About Us</title>
	</head>

	<body>

		<header>
        <h1> Who am I? </h1>
		</header>

        <div class="content" id="homepage">
            <div class="row">
                <div class="one-half column"><ul><li><a href="/index">Home</a></li></ul></div>
                <div class="one-half column"><ul><li><a href="/contact">Contact Us</a></li></ul></div>
            </div>
        </div>

        <div class="content">
            <ul id="about-us-ul">
                <li><strong>Occupation</strong>: Student </li>
        		<li><strong>School</strong>: UC Berkeley </li>
                <li><strong>Level</strong>: Undergraduate </li>
                <li><strong>Major</strong>: Computer Science </li>
        	    <li><strong>Languages</strong>: English, Cantonese, Mandarin</li>
                <li><strong>Hobbies</strong>: cooking, reading, watching HIMYM</li>
                <li><strong>Github</strong>: @muyingchen</li>
                <li><strong>LinkedIn</strong>: @muyingchen</li>
            </ul>
        </div>

        <div class="content">
            <div class="row">
            <footer id="footer">
                <div class="one-half column"><p>Posted by: Muying Chen </p></div>
                <div class="one-half column"><p>Contact information: <a href="mailto:muyingchen@berkeley.edu">muyingchen@berkeley.edu</a></p></div>
            </footer></div>
        </div>
	</body>
</html>
